/* Home.css */

.home-container {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  overflow: hidden;
}

.vector-image {
  max-width: 25vw;
  height: auto;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.divider {
  border-bottom: 1px solid white;
  margin: 20px 0;
  margin-left: 28vw;
  margin-right: 28vw;
}

.brand {
  font-size: 30px;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.social-icons {
  font-size: 35px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 28vw;
  margin-right: 28vw;

  /* Explicitly set styles for button */
  button {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 35px; /* Adjust the font size as needed */
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s;
  }

  /* Explicitly set styles for button:hover */
  button:hover {
    transform: scale(1.4);
  }
}

@media screen and (max-width: 768px) {
  .vector-image {
    max-width: 60vw;
    margin-bottom: 3vh;
    margin-top: 2vh;
  }

  .divider {
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .social-icons {
    margin: 0 auto;
    margin-top: 5vh;
    font-size: 35px;
  }

  h2 {
    margin-top: -1vh;
    margin-bottom: 1vh;
  }
}
