/* Home.css */

.home-container {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  height: 94vh;
  overflow: hidden;
}

.vector-image {
  max-width: 25vw;
  height: auto;
  margin-top: 10vh;
}

.divider {
  border-bottom: 2px solid white;
  margin: 20px 0;
  margin-left: 25vw;
  margin-right: 25vw;
}

.brand {
  font-size: 24px;
}

.social-icons {
  font-size: 28px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 28vw;
  margin-right: 28vw;

  a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    transition: transform 0.3s; 
  }

  a:hover {
    transform: scale(1.4); 
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .home-container {
    height: 90vh;
  }

  .vector-image {
    max-width: 60vw;
    margin-bottom: 3vh;
    margin-top: -1vh;
  }

  .divider {
    margin-left: 3vw;
    margin-right: 3vw;
  }

  .social-icons {
    margin: 0 auto;
    margin-top: 8vh;
    font-size: 40px;
  }
}