/* Home.css */

.home-container {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  height: auto;
}

.vector-image {
  max-width: 30vw;
  height: auto;
  margin-top: 20vh;
}

.divider {
  border-bottom: 2px solid white;
  margin: 20px 0;
  margin-left: 25vw;
  margin-right: 25vw;
}

.brand {
  font-size: 24px;
}

.social-icons {
  font-size: 28px;
  margin-top: 20px;
  color: white;

  a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
}
