/* Music.css */

body {
  background-color: black;
}

.music-page {
  padding: 20px;
  color: white;
}

.song-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
