/* Music.css */

body {
  background-color: black;
  color: white;
}

.music-container {
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding: 20px;
  background-color: black;
}

.playlist {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.track {
  display: flex;
  align-items: center;
  background-color: grey;
  padding: 10px;
}

.play-button {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.audio-player {
  width: 100%;
}

/* Style for the progress bar and waveform */
.audio-player::-webkit-media-controls {
  display: none;
}

.progress-bar {
  position: relative;
  height: 5px;
  background-color: #333;
  margin-top: 10px;
}

.progress-bar .waveform {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #66ff66; /* Adjust the color of the waveform */
}
