nav {
  background-color: rgba(250, 249, 249, 0.19);
  height: 10vh;
}

.nav-container {
  display: flex;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px; /* Adjust as needed */
}

.nav-links {
  margin-left: 180px;
}

ul {
  list-style: none;
  display: flex;
  font-size: 30px;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

li {
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.15s ease-in-out, text-decoration 0.15s ease-in-out;
}

a:hover {
  color: rgb(247, 24, 24);
  text-decoration: underline; 
}

.logo-container img {
  display: flex;
  max-width: 8vh;
  height: 8vh;
  margin-right: -180px;
  margin-top: 1vh;
}

.spinning-logo {
  animation: spin 2s linear infinite; /* Adjust the duration and timing function as needed */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mobile-menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  background-color: white;
  height: 5px;
  width: 30px;
  margin: 6px 0;
  transition: 0.4s;
}

/* Media query for mobile view */
@media only screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background-color: rgba(250, 249, 249, 0.19);
    z-index: 1;
  }

  .nav-links.open {
    display: flex;
  }

  .mobile-menu-icon {
    display: flex;
  }

  .nav-container {
    flex-direction: column;
    align-items: center;
  }
}
