/* Navbar.css */

nav {
  background-color: black;
  height: 6vh;
}

ul {
  list-style: none;
  display: flex;
  padding: 1;
  margin: 10px auto;
  margin-left: 30px;
  font-size: 25px;
}

li {
  margin-right: 40px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.15s ease-in-out, text-decoration 0.15s ease-in-out;
}

a:hover {
  color: rgb(247, 24, 24);
  text-decoration: underline; 
}

.logo-container {
  display: flex;
  max-width: 8vh;
  height: 8vh;
  margin-right: 40px;
}

.spinning-logo {
  animation: spin 2s linear infinite; /* Adjust the duration and timing function as needed */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
