nav {
  background-color: rgba(250, 249, 249, 0.19);
  height: 10vh;
}

.nav-container {
  display: flex;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px; /* Adjust as needed */
}

.nav-links {
  margin-left: 100px;
}

ul {
  list-style: none;
  display: flex;
  font-size: 30px;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

li {
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.15s ease-in-out, text-decoration 0.15s ease-in-out;
}

a:hover {
  color: rgb(247, 24, 24);
  text-decoration: underline; 
}

.logo-container img {
  display: flex;
  max-width: 8vh;
  height: 8vh;
  margin-right: -100px;
  margin-top: 1vh;
}

.spinning-logo {
  animation: spin 2s linear infinite; /* Adjust the duration and timing function as needed */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon.open .bar:nth-child(1) {
  transform: translateY(5px) rotate(-45deg);
}

.menu-icon.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .bar:nth-child(3) {
  transform: translateY(-5px) rotate(45deg);
}

.nav-links {
  display: flex;
  @media screen and (max-width: 768px) {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 10vh; /* Adjust top position */
    left: 0;
    width: 100%;
    background-color: rgba(250, 249, 249, 0.052);
  }
}

@media screen and (max-width: 768px) {
  nav {
    height: 10vh;
  }

  ul {
    font-size: 20px;
  }

  li {
    margin-left: -10px;
    margin-top: 10px;
  }

  .menu-icon {
    display: flex;
  }

  .nav-links.open {
    display: flex;
  }
}
