/* src/components/Song.css */
.song-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.song-container img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.audio-controls {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.waveform-container {
  flex-grow: 1; /* Make the waveform container grow to fill available space */
}

/* Adjust styling for the audio player if needed */
.rhap_container {
  width: 100%;
}
