/* Song.css */

.song-container {
  display: flex;
  align-items: stretch;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 80vw;
  background-color: white;
}

.left-column {
  flex: 0;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.left-column img {
  width: auto;
  max-height: 20vh;
}

.right-column {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.waveform-container {
  flex-grow: 1;
}

.audio-controls {
  display: flex;
  align-items: center;
  margin: 10px auto;
}
